*{
    margin:0; 
    padding:0;
    text-decoration: none;
    font-family: "Montserrat";
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    position: fixed;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    z-index: 1;
    text-align: center;
}